form {
    width: 25%;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
}

label{
    font-size: 20px;
    display: block;
}

input,select{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input:focus, select:focus{
    border: 1px solid #1668c4;
}

input[type="submit"]{
    margin-bottom: 0px;
    background-color: #1668c4;
    color: #fff;
    border: none;
}

input[type="submit"]:hover{
    background-color: #0f4786;
    cursor: pointer;
}

form a{
    color: #1668c4;
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

.login{
    margin-left: 90%;
}

.registro{
    margin-left: 85%;
}