* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    background: #E5E5E5;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

/* Header */

.encabezado{
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 50px;
}

.encabezado ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

.encabezado ul li{
    display: inline-block;
    /* border-right: 1px solid #f2f2f2; */
}

.encabezado ul li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.encabezado ul li a:hover{
    background-color: #1ed12d;
    color: #fff;
}

.derecha {
    float: right;
}

/* Formulario */

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input, .formulario__select {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0px 40px 0px 10px;
    transition: .3s ease all;
}

.formulario__input:focus, .formulario__select:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__grupo-login,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}

.formulario__grupo-login{
    text-align: right;
}

.formulario__grupo-login label:hover{
    cursor: initial;
}

.formulario__grupo-login a{
    color: #000;
    text-decoration: none;
}

.formulario__grupo-login a:hover{
    text-decoration: underline;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background:#F66860;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color:#fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    transition: .1s ease all;
}

.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-correcto .formulario__input{
    border: 3px solid #1ed12d;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

/* Contenedores */

.contenedor{
    /* margin-top: 2px; */
    height: 900px;
}

/* Inicio */

.inicio{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/692780106200366253/C4E02DCFA030EBE9463C175BC74535C457E38644/");
    height: 978px;
}

.espacio{
    height: 10%;
}

.logo{
    text-align: center;
}

.inicio p{
    color: #fff;
    margin-bottom: 60px;
}

.btn__info{
    border-radius: 10px;
    padding: 20px;
    background-color: #1ed12d;
    color: #fff;
}

.btn__info:hover{
    background-color: #16881f;
}

.inicio .contenido {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    width: 60%;
    margin-left: 20%;
}

/* Nosotros */

.nosotros {
    background-color: #1ed12d;
    color: #fff;
}

.nosotros .contenido {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    width: 60%;
    margin-left: 20%;
}

.titulo{
    font-weight: bold;
    font-size: 40px;
}

.premio{
    margin-bottom: 100px;
}

.nosotros .btn__galeria{
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;

}

/* Galería */

.galeria{
    padding-top:60px;
    padding-left: 40px;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.galeria img{
    border-radius: 10px;
}

  /* Contactenos */
.contactenos{
    height: 400px;
    background-color:#fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.contactenos__masinfo{
    grid-column: span 2;
    text-align: center;
    border-right: 1px solid #bebbbb;
}

.contactenos .contactenos__masinfo p {
    font-size: 20px;
}

.contactenos .contactenos__formulario{
    padding-top: 20%;
    text-align: center;
}

.contactenos .contactenos__formulario .contactenos__correo{
    padding-top: 50px;
}

    /* Mas Info */
footer{
    text-align: center;
}